'.text.html':
  'Yii 2 Html::activePasswordInput':
    'prefix': 'hapi'
    'body': '<?= Html::activePasswordInput(${1:model}, \'${2:attribute}\'${3:, [\'${4:optionName}\' => ${5:optionValue}]}); ?>'
