'.text.html':
  'Yii 2 Html::activeDropDownList':
    'prefix': 'haddl'
    'body': '<?= Html::activeDropDownList(${1:model}, \'${2:attribute}\', [$3]${4:, [\'${5:optionName}\' => ${6:optionValue}]}); ?>'
