'.text':
  'Yii 2 Create controller class':
    'prefix': 'controller'
    'body': """
    <?php

    namespace ${1: frontend\\\\controllers};
    use Yii;

    use yii\\\\base\\\\InvalidParamException;
    use yii\\\\web\\\\BadRequestHttpException;
    use yii\\\\web\\\\Controller;
    use yii\\\\filters\\\\VerbFilter;
    use yii\\\\filters\\\\AccessControl;
    /**
     * ${1:}
     */
    class ${2}Controller extends Controller
    {
        /**
         * @inheritdoc
         */
        public function behaviors()
        {
            return [
                'access' => [
                    'class' => AccessControl::className(),
                    'only' => [

                    ],
                    'rules' => [
                    ],
                ],
                'verbs' => [
                    'class' => VerbFilter::className(),
                    'actions' => [
                    ],
                ],
            ];
        }
        /**
         * @inheritdoc
         */
        public function actions()
        {
            return [
                'error' => [
                    'class' => 'yii\\\\web\\\\ErrorAction',
                ],
                'captcha' => [
                    'class' => 'yii\\\\captcha\\\\CaptchaAction',
                    'fixedVerifyCode' => YII_ENV_TEST ? 'testme' : null,
                ],
            ];
        }
        /**
         * Displays homepage.
         *
         * @return mixed
         */
        public function actionIndex()
        {
            return $this->render('index');
        }
    }
    """
